.git
.gitignore
.env
.eslintignore
.prettierignore
**/*.map
**/*.ts
!dist/**/*.d.ts
src/**
out/**
node_modules/**
*.vsix
.DS_Store
**/.DS_Store
tsconfig.json
eslint.config.mjs
esbuild.js
pnpm-lock.yaml
package-lock.json
.mocharc.json
.vscode/**
.github/**
docs/**
ai-config.json
